<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Tributary</title>
	<!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
	<link rel="shortcut icon" href="/favicon.ico">
  -->
  <link rel="icon"
    type="image/png"
    href="/static/img/favicon.32.png" />
  <link rel="shortcut icon" href="/static/img/favicon.ico">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" media="all" href=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

  <!-- TODO: separate out tributary ui styling from header styling? some of it overlaps -->
  <link rel="stylesheet" href="/static/css/trib.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/tipsy.css">
  <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />

  <!-- And the main styles -->
  <link rel="stylesheet" href="/static/css/header.css" type="text/css" media="screen" title="Primary Stylesheet" charset="utf-8">



  <!-- Add jQuery -->
  <script src="/static/lib/jquery-1.7.min.js"></script>
  


  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30237258-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>

</head>
<body>
<div id="container">
  {{#unless embedRoute}}
	<header id="title">
  <h1>
    <a href="/inlet/" target="_blank">Tributary</a>
    <small><a href="/" target="_blank"><i title="Tributary home page" class="explain-this-shit icon-help-circled"></i></a></small>
  </h1>

		<section id="inlet-info">
			<input id="gist-title" val="{{ title }}">
			<span id="author-avatar"> by <img class="avatar"/></span>
			<span id="inlet-author">{{author}}</span>


      {{#if inletRoute}}
			<button id="save" title="Save current state" onclick='$(".icon-load").css("opacity", 1);'>Save</button>
			<button id="fork" title="Save a copy" style="display:none;">Fork</button>
			<i class="icon-load animate-spin" style="opacity: 0;"></i>
      {{/if}}
		</section>



    {{#if inletRoute}}
    <button id="exit-fullscreen" style="display: none;">Exit fullscreen</button>
      
		<section id="login">
			{{#if loggedin}}
      <span id="current-user">
        <span class="user-avatar">
          <img id="user-avatar" class="avatar" src="{{avatar_url}}"/>
        </span>
        <a id="current-username" href="http://tributary.io/s/6094415?user={{user.login}}">{{ user.name }}</a>
      </span>
			<button id="loginPanel">Log out</button>
      {{else}}
      <button id="loginPanel">Log in <i class="icon-github"></i></button>
      {{/if}}
		</section>
    {{/if}}

	</header>
  {{/unless}}

  <iframe id="sandbox" src="{{ sandboxOrigin }}" frameBorder=0></iframe>

  <!-- Essential 3rd party libraries -->
  <script src="/static/lib/d3.min.js"></script>
  <script src="/static/lib/underscore-min.js"></script>
  <script src="/static/lib/handlebars-1.0.rc.1.js"></script>
  
  <script src="/static/lib/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/templates.js"></script>

  <script>
    //TODO: lets not make these globals;
    var header = {};
    header.gistid = "{{ gistid }}";
    header.loggedin = "{{ loggedin }}";
    header.username = "{{ user.login }}";
    header.avatar = "{{ user.avatar_url }}";
    header.userid = parseInt("{{user.id}}");
    //header.userurl = "{{ user.html_url }}";
    header.userurl = "http://tributary.io/s/6094415?user={{user.login}}";
    header.origin = "{{ sandboxOrigin }}";
    header.query = {{{query}}};
    {{#unless inletRoute}}
      header.fullscreen = true;
    {{/unless}}
    
    $('i').tipsy({fade: true, gravity: 'n', opacity: 0.86});
  </script>


  <!-- header.js sets up the header and does communication with child iframe -->
  <script src='/static/header.js?v=0.9'></script>

</body>
</html>


