<div class=displaycontrols>
  <span class=config_title>Display:</span>
  {{#each displays}}
    <div class=config data-name={{this.name}}>
      <span>{{this.name}}</span>
      <span class=description>{{this.description}}</span>
    </div>
  {{/each}}
</div>

<div class=timecontrols>
  <span class=config_title>Time Controls:</span>
  {{#each time_controls}}
    <div class=config data-name={{this.name}}>
      <span>{{this.name}}</span>
      <span class=description>{{this.description}}</span>
    </div>
  {{/each}}
</div>

<div class="editorcontrols">
  <span class="config_title">Editor Controls:</span>
    <div class="config" data-name="log-errors">
      <span>Log errors</span>
      <span class="description">Show JSHint errors in the console</span>
    </div>
</div>

<div class="requirecontrols">
  <div class=config_title>External Scripts:</div>
  {{#each requires}}
    <div class=config data-name={{this.name}} data-url={{this.url}}>
      <span>{{this.name}}</span>
      <span class=description> {{this.url}}</span>
      <span class=delete>x</span>
    </div>
  {{/each}}
  <div class="plus">
    +
  </div>

  <div class="tb_add" style="display:none;">
    <div>name: <input type=text class="name"></input></div>
    <div>url: <input type=text class="url"></input></div>
  </div>


</div>



